/* RESET STYLES */

*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Remove left padding from list tags (ul, ol)
  that have a class attribute
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Remove margin from body and two other tags
  that have a class attribute
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Remove vertical margins from specific tags
  that have a class attribute
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Remove default marker from unordered list (ul)
  that has a class attribute
  */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Reset vertical margins for paragraph,
  declare a local variable for bottom margin
  to avoid conflicts with more complex selectors
  */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Set bottom margin for paragraph without a class attribute
  that is not the last among its neighboring elements
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Simplify working with images
  */
img {
  display: block;
  max-width: 100%;
}

/**
  Inherit font properties for input fields
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Useful in most cases
    (e.g., when you need to "stick" the footer to the bottom of the site)
    */
  height: 100%;
}

/**
  Smooth scroll behavior
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Useful in most cases
    (e.g., when you need to "stick" the footer to the bottom of the site)
    */
  min-height: 100%;
  /**
    Uniform line height
    */
  line-height: 1.5;
}

/**
  Standardize the color for svg elements
  */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Fix delay issue when changing color during interaction with svg elements
  */
svg * {
  transition-property: fill, stroke;
}

/**
  Remove all animations and transitions for people
  who prefer not to use them
  */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
