.section {
  @include flex-center;

  min-height: 100%;
  background-color: powderblue;


  &__inner {
    padding-inline: 50px;
  }
  
  &__title {
    @include flex-center;
    margin-bottom: 50px;
  }

  &__description {
    p {
      font-size: 20px;
      text-align: center;
      padding: 20px;
    }
  }
}