/* COLORS */

$colors: (
	primary: (
		100: hsl(0, 0%, 100%),
		200: hsl(0, 0%, 80%),
		300: hsl(0, 0%, 70%),
		400: hsl(0, 0%, 60%),
		500: hsl(0, 0%, 50%)
	),
	secondary: (
		100: hsl(0, 0%, 0%),
		200: hsl(0, 0%, 5%),
		300: hsl(0, 0%, 10%),
		400: hsl(0, 0%, 15%),
		500: hsl(0, 0%, 20%)
	),
	accent: (
		100: hsl(120, 100%, 50%),
		200: hsl(120, 80%, 50%),
		300: hsl(120, 70%, 50%),
		400: hsl(120, 60%, 50%),
		500: hsl(120, 50%, 50%)
	)
);
